<div background="black" id="carousel">
  <ngb-carousel *ngIf="images">
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="first slide" class="w-100" >
    </div>
    <div class="carousel-caption">
      <h3>Cadre iddyllique</h3>
      <p>Pour un séjour de rêve</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="second slide" class="w-100">
    </div>
    <div class="carousel-caption">
      <h3>Confort assurée</h3>
      <p>Votre satisfaction, notre mission</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]"  alt="third slide"  class="w-100">
    </div>
    <div class="carousel-caption">
      <h3>Lieu de détente</h3>
      <p>En famille ou entre ami(e)s</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="fourth slide" class="w-100">
    </div>
    <div class="carousel-caption">
      <h3>Restauration 5 étoiles</h3>
      <p>Haute gastronomie et diversité</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>



<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid" id="navbar">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="../../assets/logos/favpng_hotel-icon-travel-icon-resort-icon.png"
          height="30"
          alt="Logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let link of navLinks" >
          <a class="nav-link" [routerLink]="link.link" routerLinkActive="active">{{link.label}}</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center" >


      <div>

        <app-connexion></app-connexion>
      </div>



    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>

























