<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'" *ngIf="images">
  <mdb-carousel-item>
    <img
      [src]="images[0]"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Cadre iddyllique</h5>
      <p>Pour un séjour de rêve</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      [src]="images[1]"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Confort assurée</h5>
      <p>Votre satisfaction, notre mission</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      [src]="images[2]"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Lieu de détente</h5>
      <p>En famille ou entre ami(e)s</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      [src]="images[3]"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Restauration 5 étoiles</h5>
      <p>Haute gastronomie et diversité</p>
    </div>
  </mdb-carousel-item>
  

</mdb-carousel>






<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid" id="navbar">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" href="#">
      <img
        src="../../assets/logos/favpng_hotel-icon-travel-icon-resort-icon.png"
        height="30"
        alt="Logo"
        loading="lazy"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      (click)="basicNavbar.toggle()"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div mdbCollapse 
    class="collapse navbar-collapse" 
    id="navbarSupportedContent"
    #basicNavbar="mdbCollapse">
      
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let link of navLinks" >
          <a class="nav-link active" aria-current="page" [routerLink]="link.link" routerLinkActive="active">{{link.label}}</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center" >


      <div>

        <app-connexion></app-connexion>
        
      </div>



    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>

























