<div class="modal-header" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Desactiver le compte</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
      </div>
      <div class="modal-body">
        <p>Voulez vous vraiment desactiver votre compte ? Il sera définitivement supprimé après 30 jours</p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger">Confirmer la désactivation</button>
        <button type="button" class="btn btn-light" (click)="modalRef.close()">Annuler</button>
      </div>
    </div>
  </div>
</div>
