


    <div mdbDropdown class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        mdbDropdownToggle
        aria-expanded="false"
        #dropdown
      >
        Connexion
      </button>
      <div mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form class="px-4 py-3" (ngSubmit)="onSubmit(a)" #a="ngForm" >
          <!-- Email input -->
          <mdb-form-control>
            <input mdbInput name="emailr" type="email" id="emailr" class="form-control" required/>
            <label mdbLabel class="form-label" for="emailr">Adresse mail</label>
          </mdb-form-control>

          <br/>

          <!-- Password input -->
          <mdb-form-control>
            <input mdbInput name="passwordr" type="password" id="passwordr" class="form-control" required />
            <label mdbLabel class="form-label" for="passwordr">Mot de passe</label>
          </mdb-form-control>

          <br/>
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4 col d-flex justify-content-center">
            <div class="">
              <!-- Checkbox -->
              <div class="form-check">
                <input mdbCheckbox
                class="form-check-input"
                type="checkbox"
                value=""
                id="form1Example7" />
                <label
                class="form-check-label"
                for="form1Example7"> Se rappeler de moi </label>
              </div>
            </div>
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Mot de passe oublié ?</a>
            </div>
          </div>


          <!-- Submit button -->
          <button type="submit"
          [disabled]="a.invalid"
          disabled="true"
          class="btn btn-outline-secondary btn-block"
          routerLink="profil">
            Se connecter
          </button>
        </form>

        <div class="dropdown-divider"></div>
        <a type="button" class="dropdown-item" routerLink="inscription">Vous n'avez pas de compte? Créer un compte</a>

      </div>
    </div>





