<br/>

<h1 class="mx-2">Nos Chambres</h1>


<br/>


<div class="row justify-content-md-center gy-3">
  <div class="col-5"  >
    <div class="card" style="max-width : 500px; ">
      <div class="bg-image hover-overlay ripple"
      data-mdb-ripple-color="light"
      style="height:235px; width : auto; max-width : 500px; ">
        <img
          src={{ch[0].image}}
          class="img-fluid"
          alt="immage_room"
        />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ch[0]._libelle}}
        </h5>
        <p class="card-text">
          {{ch[0]._categorie}}
        </p>
        <a [routerLink]="[ch[0]._idChambre]" class="btn btn-secondary">Voir</a>
      </div>
    </div>
  </div>

  <div class="col-sm-5"  >
    <div class="card" style="max-width : 500px; ">
      <div class="bg-image hover-overlay ripple"
      data-mdb-ripple-color="light"
      style="height:235px; width : auto; max-width : 500px; ">
        <img
          src={{ch[1].image}}
          class="img-fluid"
          alt="immage_room"
        />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ch[1]._libelle}}
        </h5>
        <p class="card-text">
          {{ch[1]._categorie}}
        </p>
        <a [routerLink]="[ch[1]._idChambre]" class="btn btn-secondary">Voir</a>
      </div>
    </div>
  </div>

  <div class="w-100"></div>

  <div class="col-sm-5"  >
    <div class="card" style="max-width : 500px; ">
      <div class="bg-image hover-overlay ripple"
      data-mdb-ripple-color="light"
      style="height:235px; width : auto; max-width : 500px; ">
        <img
          src={{ch[2].image}}
          class="img-fluid"
          alt="immage_room"
        />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ch[2]._libelle}}
        </h5>
        <p class="card-text">
          {{ch[2]._categorie}}
        </p>
        <a [routerLink]="[ch[2]._idChambre]" class="btn btn-secondary">Voir</a>
      </div>
    </div>
  </div>

  <div class="col-sm-5"  >
    <div class="card" style="max-width : 500px; ">
      <div class="bg-image hover-overlay ripple"
      data-mdb-ripple-color="light"
      style="height:235px; width : auto; max-width : 500px; ">
        <img
          src={{ch[3].image}}
          class="img-fluid"
          alt="immage_room"
        />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ch[3]._libelle}}
        </h5>
        <p class="card-text">
          {{ch[3]._categorie}}
        </p>
        <a [routerLink]="[ch[3]._idChambre]" class="btn btn-secondary">Voir</a>
      </div>
    </div>


  </div>

</div>

<br/>





