<br/>

<h1>Créer un compte</h1>

<br/>

<form>


  <!-- last name input -->
  <mdb-form-control>
    <input required mdbInput type="text" id="form1Example1" class="form-control" />
    <label mdbLabel class="form-label" for="form1Example1">Nom*</label>
  </mdb-form-control>

  <br/>

  <!-- first name input -->
  <mdb-form-control>
    <input mdbInput type="text" id="form1Example2" class="form-control" />
    <label mdbLabel class="form-label" for="form1Example2">Prénom*</label>
  </mdb-form-control>

  <br/>

  <!-- age input -->
  <mdb-form-control>
    <input mdbInput type="number" id="form1Example3" class="form-control"  />
    <label mdbLabel class="form-label" for="form1Example3">Age*</label>
  </mdb-form-control>

  <br/>

  <!-- Email input -->
  <mdb-form-control>
    <input mdbInput  type="email" id="form1Example4" class="form-control" />
    <label mdbLabel class="form-label" for="form1Example4">Email*</label>
  </mdb-form-control>

  <br/>

  <!-- tel input -->
  <mdb-form-control>
    <input mdbInput type="tel" id="form1Example5" class="form-control" />
    <label mdbLabel class="form-label" for="form1Example5">Téléphone</label>
  </mdb-form-control>


  <br/>

  <!-- Password input -->
  <mdb-form-control>
    <input mdbInput type="password" id="form1Example5" class="form-control"  />
    <label mdbLabel class="form-label" for="form1Example5">Mot de passe*</label>
  </mdb-form-control>

  <br/>

  <!-- Password input -->
  <mdb-form-control>
    <input mdbInput type="password" id="form1Example6" class="form-control"  />
    <label mdbLabel class="form-label" for="form1Example6">Confirmer le mot de passe*</label>
  </mdb-form-control>

  <br/>


  <!-- 2 column grid layout for inline styling -->
  <div>
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input mdbCheckbox 
        class="form-check-input" 
        type="checkbox" 
        value="" 
        id="form1Example7" />
        <label 
        class="form-check-label" 
        for="form1Example7"> Se rappeler de moi </label>
      </div>
      <div class="form-check">
        <input mdbCheckbox 
        class="form-check-input" 
        type="checkbox" 
        value="" 
        id="form1Example8" />
        <label  
        class="form-check-label" 
        for="form1Example8"> S'abonner à la newlestter </label>
      </div>

      

      <div class="form-check">
        <input mdbCheckbox 
        class="form-check-input" 
        type="checkbox" 
        value="" 
        id="form1Example9" required />
        <label 
        class="form-check-label" 
        for="form1Example9"> J'accepte la politique de sécurité </label>
      </div>
    </div>

  </div>

  <br/>

  <!-- Submit button -->
  <button type="submit" class="btn btn-secondary">Créer un compte</button>
</form>

