<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Créer un compte</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Nom">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Prenom">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="tel" placeholder="Telephone">
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Sexe</mat-label>
          <mat-select>
            <mat-option value="M">Masculin
            </mat-option>
            <mat-option value="F">Féminin
            </mat-option>
            <mat-option value="N">Non précisé
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <input placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" placeholder="Mot de passe">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Confirmer le mot de passe">
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Valider</button>
    </form>
  </mat-card>
</div>