<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Suppression de la réservation</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">Voulez vous vraiment supprimer la réservation {{index}} ?</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="delete()">Supprimer</button>
  <button type="button" class="btn btn-primary" (click)="modalRef.close()">
    Annuler
  </button>
  
</div>