<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body>
  <div class="global">
  <div class="row">
    <div class="gauche1">
      <img src="https://cdn-icons-png.flaticon.com/512/58/58038.png" class="imag">
      <p>Famille</p></div>
      <div class="gauche1">
        <img src="https://cdn-icons-png.flaticon.com/512/88/88956.png" class="imag">
        <p>Plage</p></div>
        <div class="gauche1">
          <img src="https://cdn-icons-png.flaticon.com/512/34/34686.png" class="imag">
          <p>Room Service H/24</p></div>
    <div class="milieu1" >
      <img src="https://cdn-icons-png.flaticon.com/512/46/46462.png" class="imag">
      <p>Aménagements adaptés</p>
    </div>
    <div class="droite1">
      <img src="https://cdn-icons-png.flaticon.com/512/929/929535.png" class="imag">
      <p>Wifi disponible</p>
    </div>
    <div class="droite1">
      <img src="https://cdn-icons-png.flaticon.com/512/66/66912.png" class="imag">
      <p>Congrès</p>
    </div>
  </div>

<div class="milieu">

  <div class="gauche">
    <h1>ParadiseResortHotel</h1>
    <p>Le PRH ParadiseResortHotel est un incroyable complexe 5 * situé sur l'île tropicale idyllique de Zanzibar.

      Situé à Pwani Mchangani, sur la côte nord-est de Zanzibar, l'hôtel respecte harmonieusement le style architectural local et l'environnement.

      Le PRH ParadiseResortHotel est situé sur une magnifique plage de sable blanc et des eaux cristallines qui vous donneront l'impression d'être dans un véritable paradis.

      Profitez de vacances All Inclusive , des environs et des installations offertes par le PRH, et toujours avec la garantie de PRH Hotels & Resorts. .</p>
  </div>
  <div class="droite">
    <mdb-carousel [keyboard]="true" [indicators]="true" [animation]="'fade'" *ngIf="images" >
      <mdb-carousel-item>
        <img
          [src]="images[0]" class="i"

          alt="..."
        />
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          [src]="images[1]"
          class="i"
          alt="..."
        />

      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          [src]="images[2]"
          class="i"
          alt="..."
        />
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          [src]="images[3]"
          class="i"
          alt="..."
        />
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

</div>
<div class="milieu2">
</div>
<div class="des">
  <div class="gauche2">
    <h5>Services et installations</h5></div>
    <div class="gauche2">
      <li>Spa</li>
      <li>Événements</li>
      <li>Chambres avec piscine privée</li>
      <li>Le long de la plage</li>
      <li>Restaurants</li>
      <li>Blanchisserie</li>
      </div>
      <div class="droite2">
        <li>Kids Club</li>
        <li>Piscine extérieure</li>
        <li>Chambres Family</li>
        <li>Animations</li>
        <li>Excursion</li>
      </div>
      <div class="droite2">
        <li>Salles de réunions</li>
        <li>Transfert aéroport</li>
        <li>Villas</li>
        <li>Service de chambre</li>
        <li>Wi-Fi</li>
      </div>

</div>
<div class="chambre">
<h4>Trouvez votre chambre parfaite</h4><br>
<div class="gauche2">
  <img src="https://dam.melia.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoibWVsaWFcL2FjY291bnRzXC9mOFwvNDAwMDAxOFwvcHJvamVjdHNcLzEyN1wvYXNzZXRzXC81M1wvNDUyMDFcLzQ3YWU4MzIxNTY5YjFiOTJlMTM0YzhkZmEyZTVlMmNkLTE2MDQwODQzMTguanBnIn0:melia:q242pKvtHQ7xdWt31TIXYvlV9m7YVdJXGvC12TxB794?height=960&crop=fp&fp=0.5%2C0.5&width=1920" class="c">
  </div>
  <div class="gauche2">
    <img src="https://dam.melia.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoibWVsaWFcL2FjY291bnRzXC9mOFwvNDAwMDAxOFwvcHJvamVjdHNcLzEyN1wvYXNzZXRzXC84OFwvNDUyMDlcLzdjYzg4NGU0ZjAzOTYxN2VjNDMyMWVjMDJhYzE5YTJlLTE2MDQwODQzMTguanBnIn0:melia:nwDHkOYplZVpSbJD5tVs6L80Vq6KG95RgFo1Lj5-tXA?height=270&crop=fp&fp=0.5%2C0.5&width=360" class="c">
    </div>
    <div class="gauche2">
      <img src="http://dimg04.c-ctrip.com/images/0222v120009erhng64F7F.jpg" class="c">
      </div>
      <div class="gauche2">
        <img src="https://www.combien-coute.net/site/thumb.php?src=/site/images/budget/hotel_famille.jpg&w=320&h=320" class="c">
        </div>
        <div class="gauche2">
          <img src="https://content.r9cdn.net/himg/99/83/69/ice-81828-4489042_3XL-297198.jpg" class="c">
          </div>
          <div class="gauche2">
            <img src="https://www.momondo.fr/himg/12/9c/29/arbisoftimages-792511-gallerie-4-image.jpg" class="c">
            </div>
            <div class="gauche2">
              <img src="https://z.cdrst.com/foto/hotel-sf/185a1/granderesp/melia-zanzibar-general-c186ff4.jpg" class="c">
              </div>
              <div class="gauche2">
                <img src="https://nosincontournables.com/wp-content/uploads/2022/05/The-Residence-Zanzibar-Hotel-chambre.jpg" class="c">
                </div>
  </div>
<div class="cuisine">

  <div class="gauche5">
    <h4>Cuisine</h4>
   <h6>Restaurant Spices</h6>
<p>Laissez-vous inspirer par le marché aux épices traditionnel
  de Stone Town et savourez une cuisine qui conjugue plats
  méditerranéens et influences issues des épices arabes et
  africaines utilisées dans la cuisine locale.
 </p>

  </div>

</div>
</div>
</body>

